@model CvMvc.Models.Entity.TblAdmin
@{
    ViewBag.Title = "Getir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Admin Güncelleme Sayfasi</h4>
<br />
<form method="post">
    @Html.Label("ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Sifre")
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>
